<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
%%sql

SELECT *
FROM Sales
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [4]:
%timeit 2+2

15 ns ± 3.94 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [ ]:
%%sql
-- to view the tables in the database
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

-- to view column names
SELECT *
FROM information_schema.columns
WHERE table_name = 'customer'

In [ ]:
%%sql

-- Stakeholder wants to know some info about our high-spending and low-spending customers between year 2020 and now
select s.orderdate, s.quantity * s.netprice * s.exchangerate AS net_revenue,
    c.givenname, c.surname, c.countryfull, c.continent,
    p.productname, p.categoryname, p.subcategoryname,
    case when s.quantity * s.netprice * s.exchangerate > 1000 then 'High' else 'Low' end as spender_spec
from sales s
left join customer c on c.customerkey = s.customerkey
left join product p on s.customerkey = p.productkey
where s.orderdate::date >= '2020-01-01'

In [12]:
%%sql

select distinct continent
from customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0         Europe
1  North America
2      Australia

In [ ]:
%%sql

-- How many customers did we have on a daily basis in the year 2023.
-- Then pivot the data by continents
select orderdate,
      count(distinct case when c.continent='Europe' then s.customerkey else null end) eu_customers,
      count(distinct case when c.continent='North America' then s.customerkey else null end) na_customers,
      count(distinct case when c.continent='Australia' then s.customerkey else null end) au_customers
--      count(distinct s.customerkey) total_customer -- this is not necessary for visuals
from sales s
left join customer c on s.customerkey = c.customerkey
where orderdate between '2023-01-01' and '2023-12-31'
group by 1
order by 1;

In [30]:
%%sql

-- Stakeholder wants to know the total revenue by product category for 2022 and 2023
select p.categoryname category,
      sum(case when s.orderdate between '2022-01-01' and '2022-12-31'
          then s.quantity * s.netprice * s.exchangerate else 0 end) total_net_revenue_2022,
      sum(case when s.orderdate between '2023-01-01' and '2023-12-31'
          then s.quantity * s.netprice * s.exchangerate else 0 end) total_net_revenue_2023
from sales s
left join product p on s.productkey = p.productkey
group by 1
order by 1;
-- create visual if you please

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,total_net_revenue_2022,total_net_revenue_2023
0,Audio,766938.21,688690.18
1,Cameras and camcorders,2382532.56,1983546.29
2,Cell phones,8119665.07,6002147.63
3,Computers,17862213.49,11650867.21
4,Games and Toys,316127.30,270374.96
5,Home Appliances,6612446.68,5919992.87
6,"Music, Movies and Audio Books",2989297.28,2180768.13
7,TV and Video,5815336.61,4412178.23

In [27]:
%%sql
-- using min and max to know the year the data recording began and ended
select min(distinct (extract(year from orderdate))) order_year,
      max(distinct (extract(year from orderdate))) order_year
from sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  order_year order_year
0       2015       2024